# **STUDENT PERFORMANCE INDICATOR**  

## *Life cycle of Machine Learning Project*
---

  *   Understanding our Problem Statement
  *  Data Collection
  *  Data Checks to perform
  *  Exploratory data analysis
  *  Data PreProcessing 
  *  Model Training
  *  Choose best model

# **1 ) Problem Statement**
---
  -  This Project understand how the student's performance (**Test Scores**) is affected by other variables such as Gender , Ethnicity, Parental level of education ,Food(Lunch) and test preparation courses.
  ---

## **2) Data Collection**
  -  Dataset Source : https://www.kaggle.com/datasets/spscientist/students-performance-in-exams?datasetId=74977
  -  Dataset Description : This dataset consists of 1000 rows and 8 columns. The columns in the dataset are: gender, race/ethnicity, parental level of education, lunch, test preparation course, math score, reading score, and writing score.

##  **2.1 Import Data and Required Packages**
  -  Importing required packages
  -  Importing dataset

In [12]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline 
import warnings
warnings.filterwarnings('ignore')

## **Import the CSV Data as Pandas DataFrame**

In [13]:
df = pd.read_csv('E:/mlprojects/Notebook/DataSet/stud.csv')

## **Show Top 10 Record**

In [14]:
df.head(10)

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

## **Shape of Dataset**

In [15]:
df.shape

(1000, 8)

## **2.2 Dataset Information**
 - Gender : sex of student = (Male/Female) 
 -  race /ethnicity = ethnicity of student = (Group A,Group B,Group C,Group D)
 -  parental level of education = parent's final education = (Bachelor's degree,some college.master degree,associate's degree, high school)
 -  lunch = standard of student's lunch = (standard,free/reduced)
 -  test preparation course = test preparation course = (completed,none)
 -  math score = math score of student
 -  reading score = reading score of student
 -  writing score = writing score of student

## **3. Data Checks to perform EDA**
 -  Check for null values
 -  Check for duplicate values
 -  Check for outliers
 -  Check for skewness
 -  check the number of unique values of each column
 -  Check statistics of data set
 -  Check the data types of each column
 -  Check the distribution of data
 -  Check various categories present in the different categorical column

## **3.1 Check Missing values**

In [16]:
df.isna().sum()

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

#### **There are no missing values in the dataset**

## **3.2 Check Duplicates**

In [17]:
df.duplicated().sum()

np.int64(0)

#### **There are No duplicate values in the dataset**

## **3.3 Check Data Types**

In [18]:
df.dtypes

gender                         object
race_ethnicity                 object
parental_level_of_education    object
lunch                          object
test_preparation_course        object
math_score                      int64
reading_score                   int64
writing_score                   int64
dtype: object

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   1000 non-null   int64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB